.@{ui-class-prefix}-searchbox {
    .inline-block();
    position: relative;
    overflow: hidden;

    .@{ui-class-prefix}-textbox {
        padding-right: 2em;
    }

    .@{ui-class-prefix}-searchbox-clear {
        display: none;
        background: none;
        .ecions-font-style();
        position: relative;
        margin-right: -2em;

        &:before {
            color: #666;
            .eicons-icon-content(times);
            .font-icon-position(center, 0, center, 0);
        }
    }

//     .@{ui-class-prefix}-searchbox-search {
//         position: absolute;
//         top: 0;
//         right: 0;
//         width: 25px;
//         height: 25px;
//         border: 0;
//         padding: 0;
//         text-indent: -5000px;
//         .normal-search-icon();

//         &:active {
//             border: 0;
//             .active-search-icon();
//         }
//     }

//     .@{ui-class-prefix}-button-disabled {
//         &:hover {
//             cursor: default;
//         }
//         &:active {
//             .active-search-icon();
//         }
//     }
// }

// .@{ui-class-prefix}-searchbox-fit-width {
//     .@{ui-class-prefix}-textbox {
//         width: 100% !important;
//     }
// }

// .@{ui-class-prefix}-searchbox-focus {
//     .@{ui-class-prefix}-button {
//         .active-search-icon();
//     }
// }

// .searchbox-2x() {
//     background-image: url(../img/search@2x.png);
//     background-size: 15px 50px;
// }

// @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
//     .@{ui-class-prefix}-searchbox .@{ui-class-prefix}-button {
//         .searchbox-2x();

//         &:active {
//             .searchbox-2x();
//         }
//     }

//     .@{ui-class-prefix}-searchbox-focus {
//         .@{ui-class-prefix}-button {
//             .searchbox-2x();
//         }
//     }
}
